<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Ski:</b>
  <%= @store.ski_id %>
</p>

<p>
  <b>Store url:</b>
  <%= @store.store_url %>
</p>

<p>
  <b>Inventory id:</b>
  <%= @store.inventory_id %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
